/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

.survey label	{
	display: block;
}

input[type="radio"]:focus	{
	outline: 4px solid #110;
	ouline-offset: -2px;
}

input:focus,
textarea:focus,
#albums:focus	{
	background: #000;
	color: #fff;
}

#albums	{
	padding: 5px;
}

#albums:focus	{
	outline: 3px solid #232323;
}

textarea	{
	width: 200px;
}

textarea:focus	{
	outline: 5px solid #232323;
}

fieldset	{
	border: none;
}

fieldset input	{
	margin: 15px 10px;
	padding: 5px 10px;
}

button	{
	padding: 8px 25px;
	border-radius: 8px;
	margin: 10px auto;
	width: 150px;
	display: block;
}

button:focus	{
	background: #000;
	color: #fff;
}

.container{
  text-align: center;
}
.newsletter{
  text-align: right;

}

.card	{
	padding: 20px 0;
}


/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
