/* Survey page styles */

h2	{
	font-size: 1.3em;
	padding: 1.5em 0;
	margin: 2em 0 0 0;
}

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

.radio-input label	{
	display: inline-block;
	border: 1px solid #aaa;
	padding: 3px 10px;
	margin: 5px;
}

input[type="radio"]:focus	{
	outline: 4px solid #110;
	ouline-offset: -2px;
}

input:focus,
textarea:focus,
#albums:focus	{
	background: #000;
	color: #fff;
}

#albums	{
	padding: 5px;
}

#albums:focus	{
	outline: 3px solid #232323;
}


textarea	{
	width: 200px;
}

textarea:focus	{
	outline: 5px solid #232323;
}

fieldset	{
	border: none;
	padding: 0;
	margin: 0;
}

fieldset input	{
	margin: 15px 10px;
	padding: 5px 10px;
}

button	{
	padding: 8px;
	border: 2px solid #000;
	border-radius: 6px;
	margin-left: auto;
	margin-right: 15px;
	margin-top: 15px;
	width: 150px;
	display: block;
	font-size: 1.2em;
	font-weight: bolder;
	background: #fff;
}

button:focus	{
	background: #000;
	color: #fff;
}

#hint	{
	color: #aaa;
}

.container{
  text-align: center;
}

.newsletter{
  text-align: right;

}

.card	{
	padding: 20px 0;
}


/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
